<div class="login-container d-flex justify-content-center align-items-center">
  <div class="card login-card p-4">
    <img src="assets/img/pontoTech.png" alt="Logo PontoTech" class="logo img-fluid mb-3" />
    <form class="form-floating" #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
      <div class="form-floating">
        <input type="email" id="emailInput" class="form-control" [(ngModel)]="username" name="username" required #emailInputNg="ngModel" />
        <label for="emailInput">Email address</label>
        <div class="invalid-feedback d-block" *ngIf="emailInputNg.invalid && emailInputNg.touched">
          <div *ngIf="emailInputNg.errors?.['required']">O email é obrigatório.</div>
          <div *ngIf="emailInputNg.errors?.['email']">Email inválido.</div>
        </div>
      </div>
      <div class="form-floating">
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required #passwordNg="ngModel" />
        <label for="password">Senha</label>
        <div class="invalid-feedback d-block" *ngIf="passwordNg.invalid && passwordNg.touched">
          <div *ngIf="passwordNg.errors?.['required']">A senha é obrigatório.</div>
          <div *ngIf="passwordNg.errors?.['password']">Senha inválida.</div>
        </div>
      </div>
      <span class="forgot-password text-end mt-2" (click)="onResetPassword()">
        Redefinir a senha
      </span>
      <button class="btn btn-primary w-100" type="submit">Acessar</button>
    </form>
  </div>
</div>
