.not-found-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2rem;
    color: #ff0000;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}