.bg-dark-blue {
  background-color: var(--dark-navy) !important;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
  transition: margin .25s ease-out;
}

.list-group-item {
  border: none;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}

.list-group-item.active {
  background-color: var(--primary-blue) !important;
  border-left: 5px solid #fff;
}

.text-navy {
  color: var(--dark-navy);
}

.btn-primary:hover {
  transform: scale(1.05);
  transition: 0.3s;
}